*{
    margin: 0;
    padding: 0;

}
main{
    background-color: rgb(175, 196, 190);
    border: 10px solid black;
    min-height: 100vh;
}
img{
    width: 280px;
    height: 300px;
    border-radius: 50%;
    margin: 100px 0 0 130px;
   
}
.image{
    /* max-width: 1000px; */
    position: relative;
    left: 50px;
   
}

.top_section{
    display: flex;
    justify-content: space-between;
}
.conatiner h1{
    align-items: center;
    position: relative;
    top: 100px;
}
